@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v27-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/roboto-v27-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/roboto-v27-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/roboto-v27-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v27-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/roboto-v27-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/roboto-v27-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/roboto-v27-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/roboto-v27-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

body {
    margin: 0px;
}
.Homes_guests_loves {
    height: 828px;
    left: 0px;
    top: 1469px;
    background: #EAF0F9;
}

.heading_homes_guests_loves {
    height: 47px;
    padding-top: 120px;
    margin-bottom: 106px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
    display: flex;
    justify-content: center;
}

.hotels {
    display: flex;
    justify-content: space-evenly;
}

.text_hotel_leopold {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #3077C6;
    margin-top: 24px;
}

.text_apartment_sunshine {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #3077C6;
    margin-top: 24px;
}

.text_villa_kunerad {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #3077C6;
    margin-top: 24px;
}

.text_hostel_friendship {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #3077C6;
    margin-top: 24px;
}

.location_leopold {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
}

.location_sunshine {
    font-family: Roboto;
    width: 295px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
}

.location_kunerad {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
}

.location_frendship {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
}

.slider-arrows {
    width: 40px;
    height: 40px;
    background: #F3F3F4;
    position: absolute;
    left: 93%;
    top: 27%;
    display: inline-block;
    border-radius: 50%;
}

.Homes_guests_loves>.hotels {
    position: relative;
}

.hotel_container {
    height: 385px;
    width: 246px;
}

.kunerad_img {
    height: 246px;
    width: 246px;
}

.hotel_img {
    height: 246px;
    width: 246px;
}